body {
  margin: 0;
  padding: 0;
  font-family: "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
  font-size: 11px;
  color: #000333;
}

header {
  position: absolute;
  left: 0;
  top: 0;
  height: 120px;
  width: 100%;
  background: #ffffff url('../img/logo.png') no-repeat 25px 10px;
  background-size: 30%;
  border-bottom: 1px solid #133783;
}

body#loginPage section#menu {
  position: absolute;
  top: 120px;
  left:10%;
  width: 70%;
  height:50px;
  border-bottom: 1px solid #133783;
}

body#loginPage section#content {
  position: absolute;
  top: 180px;
  bottom:50px;
  left: 10%;
  width: 70%;
  margin: 0 0 0 0;
  padding: 0;
}

body#loginPage section#footer {
  position: absolute;
  bottom: 0px;
  left:0px;
  width: 100%;
  height:50px;
  border-top: 1px solid #133783;
}

body#loginPage section#rightside {
  position: absolute;
  top: 170px;
  bottom: 50px;
  right:0px;
  width: 20%;
  border-left: 1px solid #133783;
}


form label {
  display: block;
  width: 150px;
  float: left;
  text-align: right;
  padding: 4px 10px 0 0;
}

form input[type="email"], form input[type="text"], form input[type="password"]{
  display: block;
  width: 250px;
  padding: 2px;
}

form input[type="submit"] {
  margin: 0 20px 0 160px;
  border-style: solid;
  border-width: 1px;
  border-color: #d9dfea #0e1f5b #0e1f5b #d9dfea;
  background-color: #3b5998;
  color: #FFFFFF;
  padding: 2px 15px 3px 15px;
  text-align: center;
}

a {
  color: #3b5998;
}

form p.error {
  margin-left: 160px;
  color: #d23d24;
}

ul.errorlist {
  margin-left: 160px;
  padding: 0;
  list-style-type: none;
  color: #d23d24;
}
